body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(29, 29, 29);
}
header {
    width: 100%;
    height: 80px;
}
.wrapper {
    margin: 0 auto;
    max-width: 95%;
}
img {
    border-radius: 15px;
}
.active-slider {
    background-image: url(./cssMemSlider/memes/meme1.jpg);
    border-radius: 20px;
    width: 950px;
    height: 500px;
    animation-duration: 1s;
}

/*----   Animations   ----*/

@keyframes virtual {
    0% {margin-left: 60px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual2 {
    0% {margin-left: 60px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual3 {
    0% {margin-left: 60px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual4 {
    0% {margin-left: 60px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}





.slider {
	background-color: #ddd;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
 input {
	display: none;
}



.container .wrapper .controls {
    margin-left: 826px;
}

.container .wrapper label {
	cursor: pointer;
	display: inline-block;
    background-color: #7faae8;
	height: 11px;
	margin: 0px 0px 0 16px;
	position: relative;
	width: 11px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    transition: background-color 0.2s;
    -webkit-transition: background ease-in-out .3s;
	transition: background ease-in-out .3s;
}
label:hover {
    background-color: white;
}

#slide1:checked ~ .container .wrapper .controls label:nth-of-type(1),
#slide2:checked ~ .container .wrapper .controls label:nth-of-type(2),
#slide3:checked ~ .container .wrapper .controls label:nth-of-type(3),
#slide4:checked ~ .container .wrapper .controls label:nth-of-type(4),
#slide5:checked ~ .container .wrapper .controls label:nth-of-type(5) {
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7faae8;
    height: 8px;
    width: 8px;
}
#slide1:checked ~ .container .wrapper .controls label:nth-of-type(1):hover,
#slide2:checked ~ .container .wrapper .controls label:nth-of-type(2):hover,
#slide3:checked ~ .container .wrapper .controls label:nth-of-type(3):hover,
#slide4:checked ~ .container .wrapper .controls label:nth-of-type(4):hover,
#slide5:checked ~ .container .wrapper .controls label:nth-of-type(5):hover {
    border: 2px solid white;
}


#slide1:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme1.jpg);
    animation-name: virtual;
}
#slide2:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme2.jpg);
    animation-name: virtual2;
}
#slide3:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme3.jpg);
    animation-name: virtual3;
}
#slide4:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme4.jpg);
    animation-name: virtual4;
}

#slide1:checked ~ .container .wrapper .texts .text2, .text3, .text4 {
    display: none;
}
#slide1:checked ~ .container .wrapper .texts .text1 {
    display: inline;
    animation-name: virtual;
}

#slide2:checked ~ .container .wrapper .texts .text1, .text3, .text4 {
    display: none;
}
#slide2:checked ~ .container .wrapper .texts .text2 {
    display: inline;
    animation-name: virtual2;
}

#slide3:checked ~ .container .wrapper .texts .text1, .text2, .text4 {
    display: none;
}
#slide3:checked ~ .container .wrapper .texts .text3 {
    display: inline;
    animation-name: virtual3;
}

#slide4:checked ~ .container .wrapper .texts .text1, .text2, .text3 {
    display: none;
}
#slide4:checked ~ .container .wrapper .texts .text4 {
    display: inline;
    animation-name: virtual4;
}


/*----   Animations   ----*/


.text-item {
    color: white;
    animation-duration: 1s;
}
.texts {
    margin-top: 30px;
}