body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(29, 29, 29);
}
header {
    width: 100%;
    height: 5rem;
}
.wrapper {
    margin: 0 auto;
    max-width: 95%;
}
.active-slider {
    background-image: url(./cssMemSlider/memes/meme1.jpg);
    border-radius: 20px;
    width: 950px;
    height: 500px;
    animation-duration: 1s;
}

/*----   Animations   ----*/

@keyframes virtual {
    0% {margin-left: 30px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual2 {
    0% {margin-left: 30px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual3 {
    0% {margin-left: 30px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}
@keyframes virtual4 {
    0% {margin-left: 30px; opacity: 0; transform: scale(0.6);}
    100% {margin-left: 0; opacity: 1; transform: scale(1);}
}





 input {
	display: none;
}



.container .wrapper .controls {
    margin-left: 650px;
}

.container .wrapper label {
	cursor: pointer;
	display: inline-block;
    background-color: #7faae8;
	height: 0.6875rem;
	margin: 35px 0px 0 16px;
	position: relative;
	width: 0.6875rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    transition: background-color 0.2s;
    -webkit-transition: background ease-in-out .3s;
	transition: background ease-in-out .3s;
}
.container .wrapper label:hover {
    background-color: white;
}

#slide1:checked ~ .container .wrapper .controls label:nth-of-type(1),
#slide2:checked ~ .container .wrapper .controls label:nth-of-type(2),
#slide3:checked ~ .container .wrapper .controls label:nth-of-type(3),
#slide4:checked ~ .container .wrapper .controls label:nth-of-type(4) {
	background-color: rgba(0, 0, 0, 0);
    border: 2px solid #7faae8;
    height: 0.5rem;
    width: 0.5rem;
}
#slide1:checked ~ .container .wrapper .controls label:nth-of-type(1):hover,
#slide2:checked ~ .container .wrapper .controls label:nth-of-type(2):hover,
#slide3:checked ~ .container .wrapper .controls label:nth-of-type(3):hover,
#slide4:checked ~ .container .wrapper .controls label:nth-of-type(4):hover {
    border: 2px solid white;
}


#slide1:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme1.jpg);
    animation-name: virtual;
}
#slide2:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme2.jpg);
    animation-name: virtual2;
}
#slide3:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme3.jpg);
    animation-name: virtual3;
}
#slide4:checked ~ .container .wrapper .active-slider {
    background-image: url(./cssMemSlider/memes/meme4.jpg);
    animation-name: virtual4;
}

#slide1:checked ~ .container .wrapper .texts .text2, .text3, .text4 {
    display: none;
}
#slide1:checked ~ .container .wrapper .texts .text1 {
    display: inline;
    animation-name: virtual;
}

#slide2:checked ~ .container .wrapper .texts .text1, .text3, .text4 {
    display: none;
}
#slide2:checked ~ .container .wrapper .texts .text2 {
    display: inline;
    animation-name: virtual2;
}

#slide3:checked ~ .container .wrapper .texts .text1, .text2, .text4 {
    display: none;
}
#slide3:checked ~ .container .wrapper .texts .text3 {
    display: inline;
    animation-name: virtual3;
}

#slide4:checked ~ .container .wrapper .texts .text1, .text2, .text3 {
    display: none;
}
#slide4:checked ~ .container .wrapper .texts .text4 {
    display: inline;
    animation-name: virtual4;
}


/*----   Animations   ----*/


.text-item {
    color: white;
    animation-duration: 0.8s;
    font-size: 1em;
}
.texts {
    margin-top: 35px;
}
.bottom_items {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 430px) {
    .active-slider {
        width: 360px;
        height: 400px;
    }
    #slide1:checked ~ .container .wrapper .active-slider {
        background-image: url(./cssMemSlider/memes/meme1_m.jpg);
        animation-name: virtual;
    }
    #slide2:checked ~ .container .wrapper .active-slider {
        background-image: url(./cssMemSlider/memes/meme2_m.jpg);
        animation-name: virtual2;
    }
    #slide3:checked ~ .container .wrapper .active-slider {
        background-image: url(./cssMemSlider/memes/meme3_m.jpg);
        animation-name: virtual3;
    }
    #slide4:checked ~ .container .wrapper .active-slider {
        background-image: url(./cssMemSlider/memes/meme4_m.jpg);
        animation-name: virtual4;
    }
    .bottom_items {
        display: flex;
        flex-direction: column-reverse;
    }
    .container .wrapper .controls {
        margin-left: -50px;
    }
    .texts {
        margin-left: -45px;
    }
    .container .wrapper label {
        width: 0.875rem;
        height: 0.875rem;
    }
    #slide1:checked ~ .container .wrapper .controls label:nth-of-type(1),
    #slide2:checked ~ .container .wrapper .controls label:nth-of-type(2),
    #slide3:checked ~ .container .wrapper .controls label:nth-of-type(3),
    #slide4:checked ~ .container .wrapper .controls label:nth-of-type(4) {
        height: 0.625rem;
        width: 0.625rem;
    }

    /*--- Animations ---*/

    @keyframes virtual {
        0% {margin-left: 50px; opacity: 0; transform: scale(0.6);}
        100% {margin-left: 0; opacity: 1; transform: scale(1);}
    }
    @keyframes virtual2 {
        0% {margin-left: 50px; opacity: 0; transform: scale(0.6);}
        100% {margin-left: 0; opacity: 1; transform: scale(1);}
    }
    @keyframes virtual3 {
        0% {margin-left: 50px; opacity: 0; transform: scale(0.6);}
        100% {margin-left: 0; opacity: 1; transform: scale(1);}
    }
    @keyframes virtual4 {
        0% {margin-left: 50px; opacity: 0; transform: scale(0.6);}
        100% {margin-left: 0; opacity: 1; transform: scale(1);}
    }
}